<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs')  %> 

<body>
    <%- include('./partials/nav.ejs')  %>
    <%- include('./partials/emaildisplay.ejs')  %>  

    404 doesnt exist
    
</body>
<%- include('./partials/footer.ejs')  %> 

</html>