<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/header.ejs')  %> 

<body>

    <h1>EnergyLive 2022</h1>
    <form action="" method="get">
      <%- include('./partials/EmailSelector.ejs')  %> 
      <br>
    <input type="submit" value="Submit" />
    </form>

</body>

<%- include('./partials/footer.ejs')  %> 

</html>