<%# extend days selector %>
<label for="ext_days">Extend by (days):</label>
<form>
<input type="number" id="ext_days" name="ext_days" value="30" min="1" max="365">
<input type="hidden" id="email" name="email" value= <%= email %>>
<input type="submit" value="Submit" />
</form>
