
<label>You are logged in as <%=dieuth%> !</label> <br>
<label>Your last log in is: <%=lastlog%> </label> <br>
<label>Your remaining subscription days: <%=daysleft%> </label>
<%- include('./extendButton.ejs')  %> 
<br>