
<nav>
    <div class="site-title">
      <a href="/"><h1>Energy Live 2022</h1></a>
      <p>team 01</p>
    </div>
    <ul>
      <li><a href="/microservice03/">home</a></li> 
      <li><a href="/microservice03/ActualTotalLoad">Actual Total Load</a></li>
      <li><a href="/microservice03/AggregatedGenerationperType">Aggregated Generation per Type</a></li>
      <li><a href="/microservice03/CrossBorderFlow">Cross Border Flow</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>