<%# date selector %>
<label for="start">Start date:</label>
<input type="date" id="startDate" name="startDate"value="2022-01-01" min="2018-01-01" max="2022-12-31">
<%# time selector %>
<input type="time" id="startTime" name="startTime"value = "00:00"min="00:00" max="24:00" required>